/* HERO */

@-webkit-keyframes hero {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        letter-spacing: normal;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes hero {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        letter-spacing: normal;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 1.5rem;
    padding: 4rem 3rem;
    -webkit-animation:hero 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: hero 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hero img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
}

.hero-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}


/* SOBRE */


h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    border-left: 4px solid var(--accent-color);
    padding-left: 0.5rem;
}

.sobre-mim {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobre {
    padding: 1rem 4rem;
    border-radius: 12px;
    font-size: 17px;
}

.imagem-manga {
    width: 250px;
    height: auto;
    border-radius: 50%;
}


/* PROJETOS */

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card {
    max-width: 600px;
    background: var(--card-color);
    border-radius: 12px;
    padding: 1.5rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h4 {
    margin-top: 1rem;
    font-size: 20px;
}

.card p {
    margin: 1rem 0.5rem;
    color: var(--text-color);
    font-size: 17px;
}

.btn {
    background: var(--btn-card-color);
    color: var(--text-color);
    border: none;
    padding: 0.7rem 1.4rem;
    border-radius: 8px;
    margin: 1rem 0;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s;
}

.btn:hover {
    background: var(--accent-color);
}

/* HABILIDADES */

.skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
}

.skills li {
    display: flex;
    padding: 0.5rem 1rem;
}

.skills li img {
    width: 5rem;
    height: auto;
}

.icones {
    gap: 8px;
}

/* CONTATOS */

footer {
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    background: var(--card-color);
    color: var(--text-color);
}

.contatos {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.contatos a {
    margin: 0 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
}

.contatos a:hover {
    color: var(--accent-color);
}

/*BOTÃO DE TROCAR TEMA*/
.tema {
    padding: 0.5rem 0.6rem;
}
