
body {
  font-family: 'Montserrat', sans-serif;
  
  background-color: #f8f8f8;
  color: #fff;
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
    background: linear-gradient(to right, 
  #4169E1, 
  #0000FF,  
  #0000CD,  
  #00008B,  
  #000080,  
  #191970   
)
}

.informacoes {
  color: white;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .5rem;
}

.foto{
  width: 20rem;
  height: auto;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.nome{
  padding: 0 10px;
  text-align: center;
  margin-bottom: 25%;
  font-size: 3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

ul li i {
  color: white;
  font-size: 3.5rem;
}

ul li i:hover{
  color: #00BFFF;
  transition: all 0.3s ease;
}


.sobre {
   background: rgba(255, 255, 255, 0.05);
  padding: 2.5rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  font-size: 1.4rem;
  white-space: pre-line;
}


.conteudo-geral {
  padding: 1.5rem 4rem;
  min-height: 100vh;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 500;
}

h4 {
font-size: 2rem;
margin: 1.5rem;
}

.linguagens {
  display: flex;
  align-items: center;
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.05);
}

.lista-linguagens {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}


.projetos {
  color: white;
  padding: 2rem 0;
}

.projetos h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.tab-btn {
  padding: 10px 20px;
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  background: rgba(255,255,255,0.2);
}

.tab-btn.active {
  background: #1b46c7;
}

.tab-content {
  display: none;
  background: rgba(255,255,255,0.05);
  padding: 1.5rem;
  border-radius: 10px;
  animation: fadeIn 0.4s ease;
  font-size: 1.4rem;
}

.tab-content p {
  font-size: 1.4rem;
}

.tab-content h3 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.tab-content.active {
  display: block;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 8px 15px;
  background: #1b46c7;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
  font-size: 1.1rem;
}

.btn:hover {
  background: #3b5bdb;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
