/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epunda Slab', sans-serif;
}

body {
    /* Use a variável semântica --bg-color */
    background: var(--bg-color); 
    color: var(--text-color); /* Esta variável deve ser definida em global.css */
    line-height: 1.6;
    /* Transição suave para o background, opcional */
    transition: background 0.4s ease, color 0.4s ease; 
}

section {
    padding: 4rem 5%;
}