@media (max-width: 600px) {
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.nome{
    margin-bottom: 5px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.conteudo-geral{
    padding: 1.5rem 1rem;
}

.lista-linguagens{
    display: flex;
    gap: 1.5rem;
}
}

@media (min-width: 1440px){
    body{
        padding: 5rem 0;
    }
}
